.cont{
display: flex;
justify-content: center;
height: 70px;
}
.rectangle{
border: 2px solid;
display: flex;
justify-content: center;
width: 500px;
background-color: white;

}
.carre1{
display: flex;
justify-content: center;
width: 100px;
background-color: green;
}
.carre2{
display: flex;
justify-content: center;
width: 100px;
background-color: green;
}
.carre3{
display: flex;
justify-content: center;
width: 100px;
background-color: green;
}
.carre4{
display: flex;
justify-content: center;
width: 100px;
background-color: green;
}
.carre5{
display: flex;
justify-content: center;
width: 100px;
background-color: green;
}
.carre6{
display: flex;
justify-content: center;
width: 100px;
background-color: green;
}
.carre7{
display: flex;
justify-content: center;
width: 100px;
background-color: green;
}
.carre8{
display: flex;
justify-content: center;
width: 100px;
background-color: green;
}
.carre9{
display: flex;
justify-content: center;
width: 100px;
background-color: green;
}
.carre10{
display: flex;
justify-content: center;
width: 100px;
background-color: green;
}
.rectangle > div {
  transition: background-color 0.3s;
}

